#trending {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-20rem);
  align-items: center;
  width: 20rem;
  height: 80rem;
}

#trending::-webkit-scrollbar {
  display: none;
}
.trending {
  width: 15rem;
  margin-bottom: 12rem;
  transform: rotate(90deg);
}
.trending figure {
  margin: 0;
}
.trending figcaption {
  position: absolute;
  z-index: 1;
  transform: translate(2rem, -5rem);
}
.trending-bookmark {
  transform: translate(25rem, -18rem);
}
#recommended-section {
  position: absolute;
  top: 30rem;
}
