#trending {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-20rem);
  align-items: center;
  width: 20rem;
  height: 80rem;
}

#trending::-webkit-scrollbar {
  display: none;
}
.trending {
  width: 15rem;
  margin-bottom: 12rem;
  transform: rotate(90deg);
}
.trending figure {
  margin: 0;
}
.trending figcaption {
  position: absolute;
  z-index: 1;
  transform: translate(2rem, -5rem);
}
.trending-bookmark {
  transform: translate(25rem, -18rem);
}
#recommended-section {
  position: absolute;
  top: 70vh;
}
@media screen and (max-width: 1500px) {
  #recommended-section {
    position: absolute;
    top: 30rem;
  }
}

@media screen and (max-width: 1300px) {
  #trending {
    height: 160vh;
  }
  #recommended-section {
    position: absolute;
    top: 40rem;
  }
}
@media screen and (max-width: 1100px) {
  #trending {
    height: 150vh;
  }
}
@media screen and (max-width: 1000px) {
  #trending {
    height: 120vh;
  }
}

@media screen and (max-width: 800px) {
  #trending {
    height: 100vh;
  }
}
@media screen and (max-width: 600px) {
  #trending {
    height: 70vh;
  }
}
@media screen and (max-width: 400px) {
  #trending {
    height: 70vh;
  }
}
