@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

html,
body {
  background: #10141e;
  color: #ffffff;

  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
}

h2 {
  font-weight: 300;
  font-size: 2rem;
}
h3 {
  font-weight: 700;
}
body {
  display: flex;
  padding-top: 1rem;
}
nav figure {
  width: 5rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 1rem;
  background: #161d2f;
}
figure {
  margin: 1rem;
}
.small-icons {
  display: flex;
  flex-direction: column;
}
.movie-details {
  display: flex;
  align-items: center;
  color: #ffffffc6;
}
.movie-photos {
  border-radius: 1rem;
}

.movie-photos:hover {
  cursor: pointer;
  filter: saturate(0.1);
  transition-duration: 0.4s;
}

.movie-details img {
  padding-right: 0.3rem;
}
.dots {
  padding: 0 0.5rem;
}

figcaption h3 {
  margin: 0.2rem 0 0 0;
}

/* nav bar */
.nav-icons {
  text-decoration: none;
  margin-bottom: 1rem;
}
#logo {
  margin-top: 2rem;
}
#profile-photo {
  margin-bottom: 2rem;
}
/* search bar */
form {
  display: flex;
  align-items: center;
}

#search {
  width: 25rem;
  height: 3rem;
  margin-left: 1rem;
  padding-left: 1rem;
  background: transparent;
  border: none;
  font-family: "Outfit", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
}

#search:focus {
  color: #ffffff;
  border: none;
  background: transparent;
  border-bottom: 0.01rem solid #ffffff;
  caret-color: red;
}
#search:hover {
  cursor: pointer;
  background: transparent;
}
#search:focus-visible {
  outline-width: 0;
}

.bookmark-cover {
  padding: 1rem;
  width: 0.9375rem;
  height: 0.9375rem;
  display: flex;
  justify-items: center;
  align-items: center;
  background: #979797;
  border-radius: 50%;
  position: absolute;

  transform: translate(15rem, -12rem);
}
#recommended,
#movies,
#tv,
#bookmarked-tv,
#bookmarked-movies,
#search-results,
#search-results-movies,
#search-results-bookmarked,
#search-results-tv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 70rem;
}
#search-results-section,
#search-results-movies-section,
#search-results-bookmarked-section,
#search-results-tv-section {
  display: flex;
  flex-direction: column-reverse;
}

/* play button */
.playbutton {
  display: flex;
  opacity: 0;
  position: absolute;
  background: #9797978c;
  align-items: center;
  justify-content: center;
  width: 8rem;
  height: 4rem;
  border-radius: 2rem;
  transition: all 0.2s ease-in;

  transform: translate(5.5rem, -8rem);
}
.movie-photos:hover ~ .playbutton {
  opacity: 1;
}
.playbutton:hover {
  opacity: 1;
  cursor: pointer;
  filter: brightness(1.25);
}

.playbutton-trending {
  transform: translate(11rem, -11rem);
}
.playbutton img {
  margin-right: 1rem;
}

/* responsive design */
@media screen and (min-width: 1300px) and (max-width: 1500px) {
  #recommended,
  #movies,
  #tv,
  #bookmarked-tv,
  #bookmarked-movies,
  #search-results,
  #search-results-movies,
  #search-results-bookmarked,
  #search-results-tv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 70rem;
    margin-left: 6rem;
  }
}

@media screen and (max-width: 1300px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav figure {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90vw;
    height: 5rem;
  }
  main {
    width: 90vw;
  }
  .small-icons {
    display: flex;
    flex-direction: row;
  }
  #logo {
    margin: 0;
    margin-left: 2rem;
  }
  #profile-photo {
    margin: 0;
    margin-right: 2rem;
  }
  .nav-icons {
    margin: 0 0.75rem;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
  #recommended,
  #movies,
  #tv,
  #bookmarked-tv,
  #bookmarked-movies,
  #search-results,
  #search-results-movies,
  #search-results-bookmarked,
  #search-results-tv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 90vw;
    /* margin-left: 5vw; */
  }
}
@media screen and (min-width: 800px) and (max-width: 1000px) {
  #recommended,
  #movies,
  #tv,
  #bookmarked-tv,
  #bookmarked-movies,
  #search-results,
  #search-results-movies,
  #search-results-bookmarked,
  #search-results-tv {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    width: 90vw;
    /* margin-left: 5vw; */
  }
}
@media screen and (max-width: 800px) {
  #recommended,
  #movies,
  #tv,
  #bookmarked-tv,
  #bookmarked-movies,
  #search-results,
  #search-results-movies,
  #search-results-bookmarked,
  #search-results-tv {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    width: 90vw;
  }
  #recommended article,
  #movies article,
  #tv article,
  #bookmarked-tv article,
  #bookmarked-movies article,
  #search-results article,
  #search-results-movies article,
  #search-results-bookmarked article,
  #search-results-tv article {
    display: grid;
    justify-content: center;
  }


}
