@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap");

html,
body {
  background: #10141e;
  color: #ffffff;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Outfit", sans-serif;
}
body {
  display: flex;
  padding-top: 1rem;
}
nav figure {
  width: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background: #161d2f;
}
figure {
  margin: 1rem;
}

.movie-details {
  display: flex;
  align-items: center;
  color: #ffffffc6;
}
.movie-photos {
  border-radius: 1rem;
}

.movie-photos:hover {
  cursor: pointer;
  filter: saturate(0.1);
  transition-duration: 0.4s;
}

.movie-details img {
  padding-right: 0.3rem;
}
.dots {
  padding: 0 0.5rem;
}

figcaption h3 {
  margin: 0.2rem 0 0 0;
}

/* nav bar */
.nav-icons {
  text-decoration: none;
  margin-bottom: 1rem;
}
#logo {
  margin-top: 2rem;
  margin-bottom: 3rem;
}
#profile-photo {
  margin-top: 5rem;
  margin-bottom: 2rem;
}
/* search bar */
form {
  display: flex;
  align-items: center;
}

#search {
  width: 20rem;
  height: 2rem;
  margin-left: 1rem;
  padding-left: 1rem;
  background: transparent;
  border: none;
}

#search:focus {
  color: #ffffff;
  border: none;
  background: transparent;
  border-bottom: 0.01rem solid #ffffff;
  caret-color: red;
}
#search:hover {
  cursor: pointer;
  background: transparent;
}
#search:focus-visible {
  outline-width: 0;
}

.bookmark-cover {
  padding: 1rem;
  width: 0.9375rem;
  height: 0.9375rem;
  display: flex;
  justify-items: center;
  align-items: center;
  background: #979797;
  border-radius: 50%;
  position: absolute;

  transform: translate(15rem, -12rem);
}
#recommended,
#movies,
#tv,
#bookmarked-tv,
#bookmarked-movies,
#search-results,
#search-results-movies,
#search-results-bookmarked,
#search-results-tv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  width: 70rem;
}
#search-results-section,
#search-results-movies-section,
#search-results-bookmarked-section,
#search-results-tv-section {
  display: flex;
  flex-direction: column-reverse;
}
